/* General CSS */
body{margin:0 0 90px 0;padding:0;font:13px Arial, Helvetica, sans-serif;color:#4e4e50;}
img{border:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

/* Header, Container, Nav */
.container{width:990px;margin:0 auto;padding:0;}
.head{width:100%;height:76px;}
.clientlogo{background:url(i/liberty.gif) no-repeat left center;width:112px;height:76px;margin:0;padding:0;text-indent:-9999px;}
.formlogo{background:url(i/stpqs.gif) no-repeat 40px 30px;width:422px;height:76px;margin:0;padding:0;text-indent:-9999px;}
.signin{width:300px;font-size:12px;padding-top:17px;}
.signin .userid{}
.signin a{display:inline-block;margin-left:15px;background:url(i/y_arrows.gif) no-repeat 0 50%;text-decoration:none;color:#4e4e50;text-indent:10px;}
.signin a:hover{text-decoration:underline;}
.nav{width:100%;height:31px;background:url(i/navbg.gif) repeat-x;}
.nav ul{margin:0;padding:0;font-size:12px;}
.nav ul li{float:left;list-style-type:none;}
.nav ul li a{display:block;width:auto;height:20px;margin:2px 0 0 0;padding:7px 30px 0 30px;font-weight:bold;text-decoration:none;color:#fff;border-right:1px #6487c6 solid;border-left:1px #3c5177 solid;}
.nav ul li a:hover, .nav ul li a.active{display:block;color:#3f5680;background:url(i/navoverbg.gif) #fff repeat-x 0px 0px;}

/* Frame, Content, Stages */
.frame2{width:100%;height:65px;background:url(i/frame2bg.gif) repeat-x #fff;border-top:1px #adadad solid;border-bottom:1px #adadad solid;margin-top:2px;}
.frame2 .frlabel{width:130px;margin:10px 15px 5px 20px;font-size:11px;font-weight:bold;}
.frame2 .frinfo{width:150px;margin-top:10px;font-size:11px;border-right:1px #ffb768 solid;}

.content{background:url(i/bodybg.gif) repeat-x #fff;width:100%;}

.PageHead{font-family: Rockwell; font-size: 16pt; color: #003366;}
.newsub{background:url(i/newsubmission.gif) no-repeat bottom right;width:178px;height:36px;text-indent:-9999px;margin:0;padding:0;}
.stages{margin:20px 0 20px 15px;}
.stage1{width:99px;height:40px;background:url(i/stage1.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}
.stage2{width:100px;height:40px;background:url(i/stage2.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}
.stage3{width:98px;height:40px;background:url(i/stage3.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}
.stage4{width:98px;height:40px;background:url(i/stage4.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}
.stage5{width:98px;height:40px;background:url(i/stage5.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}
.stage6{width:106px;height:40px;background:url(i/stage6.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}
.stage7{width:105px;height:40px;background:url(i/stage7.gif) no-repeat top;padding-top:20px;font-size:11px;text-align:center;}

.notice{margin:0 0 5px 15px;font-style:italic;font-size:11px;color:red;}
h2{font-size:18px;font-weight:bold;color:#003a76;margin:10px 0 20px 20px;padding:0;}

/* Form and Formfields */
.formpage{border:1px #d2d2d2 solid;width:980px;margin:0 auto;background:#fff;}
.formhead{width:100%;height:30px;background:url(i/formhdbg.gif) repeat-x top;border-bottom:1px #d2d2d2 solid;}
.formhead h2{font-size:14px;font-weight:bold;color:#003a76;margin:7px 0 0 10px;padding:0;}
.formhead .details{display:inline-block;margin:8px 0 0 10px;font-size:11px;padding-left:10px;}

.formpage h3{font-size:14px;font-weight:bold;color:#8c8c8e;margin-left:10px;}
.formpage .field{clear:both;width:465px;height:26px;margin:3px 0 3px 10px;font-size:12px;text-align:right;}
.formpage input{width:275px;border:1px #b4d4e9 solid;margin:0 0 0 15px;}
.formpage select{width:275px;border-right:1px #b4d4e9 solid;border-top:1px #b4d4e9 solid;border-left:1px #b4d4e9 solid;border-bottom:1px #b4d4e9 solid;margin:0 0 0 15px;}
.formpage .formcontent{margin:22px 10px 10px 200px;}
.button{display:block;width:75px;text-align:center;background:url(i/buttonbg.gif) repeat-x;color:#fff;font-weight:bold;text-decoration:none;border-top:1px #002e6e solid;border-bottom:1px #002e6e solid;}
.button:hover{background:#004080;border-top:1px #002e6e solid;border-bottom:1px #002e6e solid;}

.LeftMargin {margin-left:10px;margin-right:200px; line-height:150%; align="justify"}
.LeftMarginTxtAreaBox {margin-left:15px}

/* Location and Tanks Form */
.locformpage{border:1px #f0aa39 solid;width:950px;margin:0 auto;padding:9px;background:url(i/bodybg1.gif) repeat-x #fff;}
.locformhead{width:100%;height:23px;background:url(i/formhdbg.gif) repeat-x 0px -1px;border:1px #bcbcbc solid;}
.loctab_inactive{display:block;color:#4e4e50;text-decoration:none;width:100px;height:15px;background:url(i/tabbg.gif) repeat-x top #cfcfcf;border:1px #cdcdcd solid;border-bottom:none;font-size:11px;margin-left:10px;padding:4px 5px 0 5px;position:relative;top:2px;left:0px;}
.loctab_inactive .close{display:block;background:url(i/xgr.gif) no-repeat;width:10px;height:10px;text-indent:-9999px;}
.loctab_inactive:hover{border:1px #9f9f9f solid;border-bottom:none;}
.loctab_active{display:block;color:#4e4e50;font-weight:bold;text-decoration:none;width:100px;height:15px;background:url(i/taboverbg.gif) repeat-x top #ffdeab;border:1px #f0aa39 solid;border-bottom:none;font-size:11px;margin-left:10px;padding:4px 5px 2px 5px;position:relative;top:1px;left:0px;}
.loctab_active .close{display:block;background:url(i/xor.gif) no-repeat;width:10px;height:10px;text-indent:-9999px;}
.locbutton{display:block;width:215px;text-align:center;background:url(i/buttonbg.gif) repeat-x;color:#fff;font-size:12px;font-weight:bold;text-decoration:none;border:1px #002e6e solid;margin:0 10px;}
.locbutton:hover{background:#004080;border-top:1px #002e6e solid;border-bottom:1px #002e6e solid;}
.locbutton2{display:block;width:115px;text-align:center;background:url(i/buttonbg1.gif) repeat-x;color:#002e6e;font-size:12px;font-weight:bold;text-decoration:none;border:1px #8ea5c0 solid;margin:0 10px;}
.locbutton2:hover{background:#004080;color:#fff;border-top:1px #002e6e solid;border-bottom:1px #002e6e solid;}
.locformhead .step{display:inline-block;width:23px;height:20px;background:#f7f7f7;color:#595a5f;margin:0;font-size:15px;padding:3px 0 0 0;text-align:center;}
.locformhead h2{display:inline-block;color:#595a5f;margin:5px 0 0 10px;font-size:12px;padding-left:10px;}

.locformbox1{width:100%;background:#f7f7f7;border:1px #bcbcbc solid;border-top:none;margin-bottom:20px;}
.locformbox1 .infobox{width:86px;margin:21px;font-size:11px;}
.locformbox1 .infobox h3{font-size:11px;color:#3e557d;margin:0 0 10px 0;padding:0;}

.locformhead1{width:100%;height:23px;background:#b9d0df;border:1px #188ddf solid;}
.locformhead1 .step{display:inline-block;width:23px;height:20px;background:#188ddf;color:#fff;margin:0;font-size:15px;padding:3px 0 0 0;text-align:center;}
.locformhead1 h2{display:inline-block;color:#4e4e4e;margin:5px 0 0 10px;font-size:12px;padding-left:10px;}

.loctable{width:927px;margin:10px auto 20px auto;border:1px #becee1 solid;border-top:3px #3e557d solid;font-size:11px;}
.loctable th{text-align:left;padding:5px;border-bottom:1px #becee1 solid;}
.loctable th a{font-weight:bold;color:#3e557d;text-decoration:underline;}
.loctable th a:hover{color:#000;}
.loctable td{padding:5px;}
.loctable tr.alt{background:#d7e3f1;}


/* Div Tab */
.Tab{font-family: Arial; font-size: 8pt; color: #595a5f;border-right: #cfcfcf 1px solid;border-top: #cfcfcf 1px solid;border-left: #cfcfcf 1px solid;border-bottom: #cfcfcf 0px solid;background-color: #ededed;}
.TabSelect{font-family: Arial; font-size: 8pt; color: #595a5f; font-weight:bold;border-right: #F0AA3A 1px solid;border-top: #F0AA3A 1px solid;border-left: #F0AA3A 1px solid;border-bottom: #F0AA3A 0px solid;background-color: #ffe9c6;}
.TabYellow{font-family: Arial; font-size: 8pt; color: #595a5f;border-right: #cfcfcf 1px solid;border-top: #cfcfcf 1px solid;border-left: #cfcfcf 1px solid;border-bottom: #cfcfcf 0px solid;background-color: #FBEF9D;}
.TabYellowBox{font-family: Arial; font-size: 8pt; color: #595a5f; font-weight:bold;border-right: #F0AA3A 1px solid;border-top: #F0AA3A 1px solid;border-left: #F0AA3A 1px solid;border-bottom: #F0AA3A 1px solid;background-color: #ffe9c6;}