<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- * Copyright 2002-2004 of Solaris Inc, USA . All * Rights Reserved. * 
	This software is confidential and proprietary information of Solaris,Inc, 
	USA. * This should not use without proper agreement signed with Solaris Inc,USA. -->
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
	<display-name>Solartis Platform Web Configuration</display-name>

	<!-- Http Header Filter -->
	<filter>
		<filter-name>HttpHeaderFilter</filter-name>
		<filter-class>com.dms.web.common.HttpHeaderFilter</filter-class>
		<init-param>
			<param-name>P3P</param-name>
			<param-value>policyref="/w3c/p3p.xml", CP="NON DSP COR CURa ADMa DEVa OUR NOR UNI COM NAV STA"</param-value>
		</init-param>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-store, no-cache, must-revalidate</param-value>
		</init-param>
		
		<init-param>
			<param-name>X-Frame-Options</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>
	
		<init-param>
			<param-name>X-XSS-Protection</param-name>
			<param-value>1; mode=block</param-value>
		</init-param>
	</filter>
	<!--startFilter -->
	<filter>
		<filter-name>loginFilter</filter-name>
	    <filter-class>com.workflow.filters.loginFilter</filter-class>
		<init-param>
			<param-name>loginpage</param-name>
			<param-value>Default.jsp</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>loginFilterForJSP</filter-name>
	    <filter-class>com.workflow.filters.loginFilter</filter-class>
		<init-param>
			<param-name>loginpage</param-name>
			<param-value>/Default.jsp</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>WebServiceFilter</filter-name>
			    <filter-class>com.dms.web.webservice.liu.getdatafeed.WebServiceFilter</filter-class>
		<init-param>
			<param-name>loginpage</param-name>
			<param-value>Default.jsp</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>CrypticFilter</filter-name>
		<filter-class>com.dms.web.common.CrypticFilter</filter-class>
		<init-param>
			<param-name>servlet_mapping_pattern</param-name>
			<param-value>Servlet</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.act</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HttpHeaderFilter</filter-name>
		<url-pattern>/Servlet</url-pattern>
	</filter-mapping>


	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilterForJSP</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/forms/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/Home/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/workflow/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfFormActCompAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfAddFormDataAction.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfAddFormDataAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfAddTestFormDataAction.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfStartCompAction.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfStartCompAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/CreateQuoteAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/CreateQuoteAction.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/AddAgentEmpCensusAction.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/AddAgentEmpCensusAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/AddPoliciesAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/AddPoliciesAction.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/QuoteCreateConfirmAction.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/QuoteCreateConfirmAction.go</url-pattern>
	</filter-mapping>
	<!-- workflow for Benicorp Insurance -->
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/SaveQuoteActionSubmittedStatus.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/workflowStartCompleteAction.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/SaveQuoteActionLostStatus.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfUwPoolAction.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/wfGaPoolAction.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/SaveQuoteActionRejectedStatus.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/SaveQuoteActionOfferedStatus.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WebServiceFilter</filter-name>
		<url-pattern>/RegSubmissionXML.ws</url-pattern>
	</filter-mapping>
	<!-- URL Encryption Filter -->
	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.go</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.act</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>/Servlet</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>CrypticFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>WebServiceFilter</filter-name>
		<url-pattern>*.ws</url-pattern>

	</filter-mapping>
	<filter-mapping>
		<filter-name>WebServiceFilter</filter-name>
		<url-pattern>/webservice/TestWebServiceBody.jsp</url-pattern>

	</filter-mapping>
	<!-- workflow for Benicorp Insurance -->

	<!--EndFilter -->


	<!-- Listners:BEGIN -->
	<listener>
		<listener-class>com.guhesan.querycrypt.listener.QueryCryptSessionListener</listener-class>
	</listener>
	<!-- Listeners:END -->



	<!-- Cactus Servlet Redirector configuration -->
	<servlet>
		<servlet-name>ServletRedirector</servlet-name>
		<servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
	</servlet>

	<!-- Action Servlet Configuration -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>com.dms.ApplicationResources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- URL Encryption/Decryption Servlet -->
	<servlet>
		<servlet-name>CrypticServlet</servlet-name>
		<servlet-class>com.dms.web.common.CrypticServlet</servlet-class>
		<init-param>
			<param-name>access_error_page</param-name>
			<param-value>UserLogAction.do</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrypticServlet</servlet-name>
		<url-pattern>/Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.act</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.ws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.go</url-pattern>
	</servlet-mapping>
	<!-- URL Agent/AgencyUpload -->
	<servlet>
		<servlet-name>AGTXML</servlet-name>
		<servlet-class>com.dms.webservice.agency.AGTXML</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AGTXML</servlet-name>
		<url-pattern>/XML/AGTXML</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AGCYXML</servlet-name>
		<servlet-class>com.dms.webservice.agency.AGCYXML</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AGCYXML</servlet-name>
		<url-pattern>/XML/AGCYXML</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QUOTESUBMIT</servlet-name>
		<servlet-class>com.dms.webservice.allrisks.QUOTESUBMIT</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QUOTESUBMIT</servlet-name>
		<url-pattern>/QUOTESUBMIT</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QUOTEBILLING</servlet-name>
		<servlet-class>com.dms.webservice.allrisks.QUOTEBILLING</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QUOTEBILLING</servlet-name>
		<url-pattern>/QUOTEBILLING</url-pattern>
	</servlet-mapping>
	<!-- Cactus Servlet Redirector URL mapping -->
	<servlet-mapping>
		<servlet-name>ServletRedirector</servlet-name>
		<url-pattern>/ServletRedirector</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- The Welcome File List -->
	<welcome-file-list>
		<welcome-file>Liberty.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<!-- Struts Tag Library Descriptors -->
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<!--Start workflow security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Security page
			</web-resource-name>
			<url-pattern>/Default.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted</web-resource-name>
			<description>Declarative security tests</description>
		</web-resource-collection>
		<auth-constraint>
			<role-name>StaffManagementUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description>no description</description>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>NONE</auth-method>
	</login-config>
	<security-role>
		<description>A user allowed to invoke methods</description>
		<role-name>StaffManagementUser</role-name>
	</security-role>
	<security-role>
		<description>A user allowed to invoke methods</description>
		<role-name>StaffManagementRole_0</role-name>
	</security-role>
	<!--End workflow security -->

	<ejb-ref>
		<ejb-ref-name>ejb/DanetUtil</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>de.danet.an.util.UtilHome</home>
		<remote>de.danet.an.util.Util</remote>
		<ejb-link>Util</ejb-link>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>ejb/StaffDirectoryBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>de.danet.an.staffmgmt.ejbs.StaffDirectoryHome</home>
		<remote>de.danet.an.staffmgmt.ejbs.StaffDirectory</remote>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>ejb/ActivityDirectory</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>de.danet.an.webform.ejbs.ActivityDirectoryHome</home>
		<remote>de.danet.an.webform.ejbs.ActivityDirectory</remote>
		<ejb-link>ActivityDirectory</ejb-link>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>ejb/WorkflowEngine</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>de.danet.an.workflow.ejbs.util.WorkflowEngineHome</home>
		<remote>de.danet.an.workflow.ejbs.util.WorkflowEngine</remote>
		<ejb-link>WorkflowEngine</ejb-link>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>saj.ejbs.TestSession</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>saj.ejbs.TestSessionHome</home>
		<remote>saj.ejbs.TestSession</remote>
		<ejb-link>TestSession</ejb-link>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>com.workflow.ejb.ServiceWorkflow</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.workflow.ejb.ServiceWorkflowHome</home>
		<remote>com.workflow.ejb.ServiceWorkflow</remote>
		<ejb-link>ServiceWorkflow</ejb-link>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>com.workflow.ejb.wfActivityDirectory</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.workflow.ejb.wfActivityDirectoryHome</home>
		<remote>com.workflow.ejb.wfActivityDirectory</remote>
		<ejb-link>wfActivityDirectory</ejb-link>
	</ejb-ref>


	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsQuoteManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.quote.QuoteManagerHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.quote.QuoteManager</local>
		<ejb-link>HealthInsQuoteManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsAgentBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.agent.InsuranceAgentHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.agent.InsuranceAgent</local>
		<ejb-link>HealthInsAgentBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorQuoteBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.quote.QuoteHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.quote.Quote</local>
		<ejb-link>HealthInsBeniratorQuoteBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorPlanBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>HealthInsBeniratorPlanBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.rate.RateHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.rate.Rate</local>
		<ejb-link>HealthInsBeniratorRateBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateSheetBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheet</local>
		<ejb-link>HealthInsBeniratorRateSheetBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateSheetManagerEJB</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManagerHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManager</local>
		<ejb-link>HealthInsBeniratorRateSheetManagerEJB</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorQuoteBean2_1</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.quote.QuoteHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.quote.Quote</local>
		<ejb-link>HealthInsBeniratorQuoteBean2_1</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorPlanBean2_1</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>HealthInsBeniratorPlanBean2_1</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateBean2_1</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.rate.RateHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.rate.Rate</local>
		<ejb-link>HealthInsBeniratorRateBean2_1</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateSheetBean2_1</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheet</local>
		<ejb-link>HealthInsBeniratorRateSheetBean2_1</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateSheetManagerEJB2_1</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManagerHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManager</local>
		<ejb-link>HealthInsBeniratorRateSheetManagerEJB2_1</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsManhattanQuoteBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.quote.QuoteHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.quote.Quote</local>
		<ejb-link>HealthInsManhattanQuoteBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsManhattanPlanBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>HealthInsManhattanPlanBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsManhattanRateBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.rate.RateHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.rate.Rate</local>
		<ejb-link>HealthInsManhattanRateBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsManhattanRateSheetBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheet</local>
		<ejb-link>HealthInsManhattanRateSheetBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/PRDProductOptionsBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.ProductOptions.PRDProductOptionsHome</local-home>
		<local>com.dms.ejb.product.ProductOptions.PRDProductOptions</local>
		<ejb-link>PRDProductOptionsBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/PRDProductFactorsBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.ProductFactors.PRDProductFactorsHome</local-home>
		<local>com.dms.ejb.product.ProductFactors.PRDProductFactors</local>
		<ejb-link>PRDProductFactorsBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/PRDProductBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.PRDProductHome</local-home>
		<local>com.dms.ejb.product.PRDProduct</local>
		<ejb-link>PRDProductBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/PRDProductGroupBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.ProductGroup.PRDProductGroupHome</local-home>
		<local>com.dms.ejb.product.ProductGroup.PRDProductGroup</local>
		<ejb-link>PRDProductGroupBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/PRDProductFeatureBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.ProductFeature.PRDProductFeatureHome</local-home>
		<local>com.dms.ejb.product.ProductFeature.PRDProductFeature</local>
		<ejb-link>PRDProductFeatureBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/LocalUserEJB114</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<local-home>com.dms.ejb.user.LocalUserHome</local-home>
		<local>com.dms.ejb.user.LocalUser</local>
		<ejb-link>LocalUserEJB114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/SequenceEJB114</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<local-home>com.dms.ejb.sequence.SequenceHome</local-home>
		<local>com.dms.ejb.sequence.Sequence</local>
		<ejb-link>SequenceEJB114</ejb-link>
	</ejb-local-ref>



	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorQuoteBean2_2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.quote.QuoteHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.quote.Quote</local>
		<ejb-link>HealthInsBeniratorQuoteBean2_2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorPlanBean2_2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>HealthInsBeniratorPlanBean2_2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateBean2_2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.rate.RateHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.rate.Rate</local>
		<ejb-link>HealthInsBeniratorRateBean2_2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateSheetBean2_2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheet</local>
		<ejb-link>HealthInsBeniratorRateSheetBean2_2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/HealthInsBeniratorRateSheetManagerEJB2_2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManagerHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManager</local>
		<ejb-link>HealthInsBeniratorRateSheetManagerEJB2_2</ejb-link>
	</ejb-local-ref>



	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyQuoteBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.quote.QuoteHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.quote.Quote</local>
		<ejb-link>PLResPropertyQuoteBean</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyPlanBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>PLResPropertyPlanBean</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyRateBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.rate.RateHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.rate.Rate</local>
		<ejb-link>PLResPropertyRateBean</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyRateSheetBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheet</local>
		<ejb-link>PLResPropertyRateSheetBean</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyRateSheetManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManagerHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetManager</local>
		<ejb-link>PLResPropertyRateSheetManagerBean</ejb-link>
	</ejb-local-ref>

	<!-- Risk module - Start -->
	<ejb-local-ref>
		<ejb-ref-name>local/ResPropertyManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.risk.resproperty.ResPropertyManagerHome</local-home>
		<local>com.dms.ejb.risk.resproperty.ResPropertyManager</local>
		<ejb-link>ResPropertyManagerEJB114</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/ResPropertyLossHistoryManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.risk.resproperty.ResPropertyLossHistoryManagerHome</local-home>
		<local>com.dms.ejb.risk.resproperty.ResPropertyLossHistoryManager</local>
		<ejb-link>ResPropertyLossHistoryManagerEJB114</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/ResPropertyAdditionalInterestManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.risk.resproperty.ResPropertyAdditionalInterestManagerHome</local-home>
		<local>com.dms.ejb.risk.resproperty.ResPropertyAdditionalInterestManager</local>
		<ejb-link>ResPropertyAdditionalInterestManagerEJB114</ejb-link>
	</ejb-local-ref>


	<ejb-local-ref>
		<ejb-ref-name>local/AuditLogManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.auditlog.AuditLogManagerHome</local-home>
		<local>com.dms.ejb.auditlog.AuditLogManager</local>
		<ejb-link>AuditLogManagerEJB114</ejb-link>
	</ejb-local-ref>

	<!-- Risk module - End -->

	<!-- Document Mgt module Start -->

	<ejb-local-ref>
		<ejb-ref-name>local/DocumentManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.documentlist.DocumentManagerHome</local-home>
		<local>com.dms.ejb.documentlist.DocumentManager</local>
		<ejb-link>DocumentManagerEJB114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/QuoteDocumentLocationManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.documentlocation.QuoteDocumentLocationManagerHome</local-home>
		<local>com.dms.ejb.documentlocation.QuoteDocumentLocationManager</local>
		<ejb-link>QuoteDocumentLocationManagerEJB114</ejb-link>
	</ejb-local-ref>

	<!-- Document Mgt module End -->

	<!-- Pdf module Start -->

	<ejb-local-ref>
		<ejb-ref-name>local/PdfEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.document.fo.PdfHome</local-home>
		<local>com.dms.ejb.document.fo.PdfRemote</local>
		<ejb-link>PdfEJB114</ejb-link>
	</ejb-local-ref>

	<!-- Pdf module End -->

	<ejb-local-ref>
		<ejb-ref-name>local/TerritoryManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.risk.territory.TerritoryManagerHome</local-home>
		<local>com.dms.ejb.risk.territory.TerritoryManager</local>
		<ejb-link>TerritoryManagerEJB114</ejb-link>
	</ejb-local-ref>
	<!-- Document Definition Start -->

	<ejb-local-ref>
		<ejb-ref-name>local/DocumentDefinitionManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.documentdefinition.DocumentDefinitionManagerHome</local-home>
		<local>com.dms.ejb.documentdefinition.DocumentDefinitionManager</local>
		<ejb-link>DocumentDefinitionManagerEJB114</ejb-link>
	</ejb-local-ref>

	<!-- Document Definition End -->
	<!-- ***Xml File Upload***START -->

	<ejb-local-ref>
		<ejb-ref-name>local/XMLAgencyManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.xmlimport.agency.XMLAgencyManagerHome</local-home>
		<local>com.dms.ejb.xmlimport.agency.XMLAgencyManager</local>
		<ejb-link>XMLAgencyManagerEJB114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/XMLAgentManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.xmlimport.agent.XMLAgentManagerHome</local-home>
		<local>com.dms.ejb.xmlimport.agent.XMLAgentManager</local>
		<ejb-link>XMLAgentManagerEJB114</ejb-link>
	</ejb-local-ref>

	<!-- ***Xml File Upload***END -->

	<!-- Policy -->
	<ejb-local-ref>
		<ejb-ref-name>local/PolicyManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>PolicyManagerEJB114</ejb-link>
	</ejb-local-ref>

	<!-- Policy -->

	<!-- *** Policy Summary Start *** -->

	<ejb-local-ref>
		<ejb-ref-name>local/PolicySummaryManagerEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicySummaryHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicySummaryManager</local>
		<ejb-link>PolicySummaryManagerEJB114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/PolicyNumberGeneratorEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.numbergenerator.PolicyNumberGeneratorHome</local-home>
		<local>com.dms.ejb.insurance.policy.numbergenerator.PolicyNumberGeneratorManager</local>
		<ejb-link>PolicyNumberGeneratorEJB114</ejb-link>
	</ejb-local-ref>

	<!-- *** Policy Summary End *** -->

	<!-- Endorsement Policy Start -->

	<ejb-local-ref>
		<ejb-ref-name>local/InsuredAddPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>InsuredAddPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/InsuredModifyPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>InsuredModifyPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/InsuredDeletePolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>InsuredDeletePolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/AddAdditionalInterestPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>AddAdditionalInterestPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/ModifyAdditionalInterestPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>ModifyAdditionalInterestPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/ModifyPropertyAddressPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>ModifyPropertyAddressPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/MiscNonPremiumBearingPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>MiscNonPremiumBearingPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/CancelPolicyManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>CancelPolicyManagerBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/ReinstatePolicyManageBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>ReinstatePolicyManageBean</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/AOrECovLmtMgr</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>AOrECovLmtMgr</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/MiscellaneousPremiumBearingManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>MiscellaneousPremiumBearingManagerBean</ejb-link>
	</ejb-local-ref>

	<!-- Endorsement Policy End -->

	<!-- Renewal start -->

	<ejb-local-ref>
		<ejb-ref-name>local/RenewalManagerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.policy.PolicyHome</local-home>
		<local>com.dms.ejb.insurance.policy.PolicyManager</local>
		<ejb-link>RenewalManagerBean</ejb-link>
	</ejb-local-ref>
	<!-- Renewal End -->


	<!-- Product Billing and Payment Start -->

	<ejb-local-ref>
		<ejb-ref-name>local/PaymentMethodBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.billing.PaymentMethodHome</local-home>
		<local>com.dms.ejb.product.billing.PaymentMethod</local>
		<ejb-link>PaymentMethodBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/BillingTypeBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.billing.BillingTypeHome</local-home>
		<local>com.dms.ejb.product.billing.BillingType</local>
		<ejb-link>BillingTypeBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/BillingCurrencyBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.billing.BillingCurrencyHome</local-home>
		<local>com.dms.ejb.product.billing.BillingCurrency</local>
		<ejb-link>BillingCurrencyBean114</ejb-link>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>local/InstallmentTypeBean114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.product.billing.InstallmentTypeHome</local-home>
		<local>com.dms.ejb.product.billing.InstallmentType</local>
		<ejb-link>InstallmentTypeBean114</ejb-link>
	</ejb-local-ref>

	<!-- Product Billing and Payment End -->


	<!-- Document Import Start -->
	<ejb-local-ref>
		<ejb-ref-name>local/DocumentImportEJB114</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.documentimport.DocumentImportHome</local-home>
		<local>com.dms.ejb.documentimport.DocumentImportRemote</local>
		<ejb-link>DocumentImportEJB114</ejb-link>
	</ejb-local-ref>
	<!-- Document Import End -->
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyPlanBean1.2.2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>PLResPropertyPlanBean1.2.2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyQuoteBean1.2.2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.plan.PlanHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.plan.Plan</local>
		<ejb-link>PLResPropertyQuoteBean1.2.2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyRateBean1.2.2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.rate.RateHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.rate.Rate</local>
		<ejb-link>PLResPropertyRateBean1.2.2</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>local/PLResPropertyRateSheetBean1.2.2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.dms.ejb.insurance.quote.common.ratesheet.RateSheetHome</local-home>
		<local>com.dms.ejb.insurance.quote.common.ratesheet.RateSheet</local>
		<ejb-link>PLResPropertyRateSheetBean1.2.2</ejb-link>
	</ejb-local-ref>

</web-app>

