
div.yuitable_Home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: auto
}
.page_Home {
	BORDER-RIGHT: #ffffff 1px solid; DISPLAY: block; MARGIN: 0px auto; BORDER-LEFT: #ffffff 1px solid; WIDTH: 100%; HEIGHT: 100%
}

.block_Home {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px; BORDER-LEFT: #000000 1px solid; WIDTH: 70%; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative
}
.head_Home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../Images/headerbkgd.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; WIDTH: 100%; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.body_Home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 2px; POSITION: relative
}
.divider_Home {
	PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 5px 1px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 0px
}
.clear_Home {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 1px 5px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 0px
}

SPAN.subFirst_Home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-LEFT: 7px; TEXT-TRANSFORM: capitalize; FONT-FAMILY: "Trebuchet MS", Helvetica, Arial
}
SPAN.subSecond_Home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-TRANSFORM: capitalize; FONT-FAMILY: "Trebuchet MS", Helvetica, Arial
}
.arrowdown_Home {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 100px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 12px; CURSOR: pointer; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; 
}
.arrowup_Home {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 100px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 12px; CURSOR: pointer; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; 
}
.rowicon_Home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WIDTH: 100%
}

DIV.page_Home {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: "light blue"
}
DIV.block_Home {
	BORDER-LEFT-COLOR: #9dbed8; BORDER-BOTTOM-COLOR: #9dbed8; BORDER-TOP-COLOR: #9dbed8; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #9dbed8 
}
DIV.head_Home {
	BACKGROUND-IMAGE: url(../Images/headerbkgd.gif)
}
SPAN.subFirst_Home {
	COLOR: #004275
}
SPAN.subSecond_Home {
	COLOR: #7f99b2
}
DIV.divider_Home {
	BORDER-LEFT-COLOR: #d8e5ef; BORDER-BOTTOM-COLOR: #d8e5ef; WIDTH: 100%; BORDER-TOP-COLOR: #d8e5ef; BORDER-RIGHT-COLOR: #d8e5ef
}
SPAN.check_Home {
	COLOR: #004275
}

.txtbox_Home
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}


.table_Home {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 98%; PADDING-TOP: 0px; POSITION: relative
}

table.new_table_CL {
 PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
table.new_table_UR {
 PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
table.new_table_BR {
 PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
table.new_table_NF {
 PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
table.new_table_PREB {
 PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}
table.new_table_POSTB {
 PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: relative
}

.delete-image {
    cursor: pointer;
    background:  url(../Images/recycle2.gif) no-repeat center center; 
    height: 30px;       
}

.priority-image {
    cursor: pointer;
    background:  url(../Images/Priority.jpeg) no-repeat center center; 
    height: 30px;     
     
}
