BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0px;
    MARGIN: 0px;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    BACKGROUND-COLOR: white
}
H1
{
    COLOR: #000000
}
H2
{
    COLOR: #000000
}
H3
{
    COLOR: #000000
}
H4
{
    COLOR: #000000
}
H5
{
    COLOR: #000000
}
H1
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 2em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H2
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1.75em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H3
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.58em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H4
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.33em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H5
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
DT
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H6
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 0.8em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
TFOOT
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
THEAD
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
A:link
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #800000;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
SMALL
{
    FONT-SIZE: 0.7em
}
BIG
{
    FONT-SIZE: 1.17em
}
BLOCKQUOTE
{
    FONT-FAMILY: Courier New, monospace
}
PRE
{
    FONT-FAMILY: Courier New, monospace
}
UL LI
{
    LIST-STYLE-TYPE: square
}
UL LI LI
{
    LIST-STYLE-TYPE: disc
}
UL LI LI LI
{
    LIST-STYLE-TYPE: circle
}
OL LI
{
    LIST-STYLE-TYPE: decimal
}
OL OL LI
{
    LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI
{
    LIST-STYLE-TYPE: lower-roman
}
IMG
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px
}
INPUT.TextField
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    BORDER-LEFT: 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.PageFooter
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, helvetica
}
SPAN.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.TableBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.TextMatter
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
}
TD.Numeric
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: right
}
TD.FormLabels
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica
}
TD.FormLabelsWhite
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana,Arial, Helvetica
}
TABLE.WithBorder
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.sectionhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.display
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.links
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.HPSearch
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.bottomlinks
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #999999;
    FONT-FAMILY: Verdana,Arial, Helvetica
}
TD.PageFooter
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 10px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WineSearchResult
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WineSearchResultCode
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WineSearchResultItem
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.SpecialOfferHeader
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.Description
{
    FONT-WEIGHT: 800;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WithBorderDisplay
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: 500;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #ff0000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.SearchResult
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.TableHeading
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.sbttn
{
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 100px;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #cdcdcd;
    TEXT-DECORATION: none
}
HR
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 1px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid
}
TD.PageTitle
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana
}
TD.InfoPageSH
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 14px;
    COLOR: #a72b52;
    FONT-FAMILY: Gill Sans , Arial
}
TD.MH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Gill Sans, Arial
}
TD.SH
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Gill Sans, Arial
}
TD.Menus
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana
}
.CartListItem
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    VERTICAL-ALIGN: baseline;
    BORDER-LEFT: #f1f1f1 0px solid;
    COLOR: black;
    BORDER-BOTTOM: #f1f1f1;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.CartItem
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.CartListFooter
{
    LINE-HEIGHT: 1px;
    BACKGROUND-COLOR: #a72b52
}
.NewsListHead
{
    BORDER-TOP-WIDTH: medium;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 1px;
    VISIBILITY: hidden;
    BORDER-LEFT: #f1f1f1 solid;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #ffffff;
    BORDER-BOTTOM: #f1f1f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    BORDER-RIGHT-WIDTH: medium
}
.NewsListItem
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    VERTICAL-ALIGN: baseline;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #f1f1f1;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.NewsListFooter
{
    VISIBILITY: hidden;
    LINE-HEIGHT: 10pt;
    BACKGROUND-COLOR: #a72b52
}
.CartHead
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #a72b52
}
.LabelTextMatter
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.LabelNewsEvents
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 14px;
    COLOR: #a72b52;
    FONT-FAMILY: Gill Sans , Arial
}
.SearchResultCode
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    LINE-HEIGHT: 35px;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.SearchResultItem
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.DGPrNx
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.ErrorDisplay
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial
}
.txtbox
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.ntxtbox
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.txtarea
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial
}
.OB
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial
}
.longbttn
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 150px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #cdcdcd
}
TD.WhiteText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial
}
TD.WhiteFooter
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial
}
