BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0px;
    MARGIN: 0px;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    BACKGROUND-COLOR: white
}
H1
{
    COLOR: #003366
}
H2
{
    COLOR: #003366
}
H3
{
    COLOR: #003366
}
H4
{
    COLOR: #003366
}
H5
{
    COLOR: #003366
}
THEAD
{
    COLOR: #003366
}
TFOOT
{
}
H1
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 2em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H2
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1.75em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H3
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.58em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H4
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.33em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H5
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
DT
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H6
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 0.8em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
TFOOT
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
THEAD
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
TH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    VERTICAL-ALIGN: baseline;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
A:link
{
    COLOR: #3333cc;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #333399;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #333399;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
SMALL
{
    FONT-SIZE: 0.7em
}
BIG
{
    FONT-SIZE: 1.17em
}
BLOCKQUOTE
{
    FONT-FAMILY: Courier New, monospace
}
PRE
{
    FONT-FAMILY: Courier New, monospace
}
UL LI
{
    LIST-STYLE-TYPE: square
}
UL LI LI
{
    LIST-STYLE-TYPE: disc
}
UL LI LI LI
{
    LIST-STYLE-TYPE: circle
}
OL LI
{
    LIST-STYLE-TYPE: decimal
}
OL OL LI
{
    LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI
{
    LIST-STYLE-TYPE: lower-roman
}
IMG
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px
}
TD
{
    BORDER-RIGHT: thin;
    PADDING-RIGHT: 0px;
    BORDER-TOP: thin;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: thin;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: thin;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
INPUT.TextField
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
INPUT.TextWithColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #cc00cc;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
INPUT.TextWithOutColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TEXTAREA.TextWithColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #cc00cc;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SELECT.TextWithColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #cc00cc;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SELECT.TextWithOutColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TEXTAREA.TextWithOutColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.ButtonLabel
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    BORDER-LEFT: 0px;
    COLOR: #000080;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana, Arial, Helvetica
}
SPAN.FieldLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.PageFooter
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8px;
    COLOR: navy;
    FONT-FAMILY: Verdana, Arial, helvetica
}
SPAN.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.TableTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.TextNoColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.TextWithColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #cc00cc;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.TextWithOutColor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.TableBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.TextMatter
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 11px;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.FormLabels
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.WithBorder
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WhiteMsg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.sectionhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.display
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.links
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.PageFooter
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9px;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff
}
TD.WithBorderDisplay
{
    BORDER-RIGHT: #000080 thin ridge;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #000080 thin ridge;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: 500;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #000080 thin ridge;
    COLOR: #ff0000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000080 thin ridge;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.SearchResult
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000080;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.TableHeader
{
    BORDER-RIGHT: #000080 thin ridge;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #000080 thin ridge;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #000080 thin ridge;
    COLOR: #ff0000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000080 thin ridge;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.VolDisplay
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000080;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff
}
TD.NotesHead
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff
}
TD.NotesDisplay
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000080;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff
}
BUTTON.Button
{
    BORDER-RIGHT: 1px ridge;
    PADDING-RIGHT: 1px;
    BACKGROUND-POSITION: 1px center;
    BORDER-TOP: 1px ridge;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-IMAGE: url(images/HelpIcon.jpg);
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: 1px ridge;
    WIDTH: 60px;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    TEXT-ALIGN: right
}
.sbttn
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 80px;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, 'Century Gothic', Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
