
H1
{
    COLOR: #000000
}
H2
{
    COLOR: #000000
}
H3
{
    COLOR: #000000
}
H4
{
    COLOR: #000000
}
H5
{
    COLOR: #000000
}
H1
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 2em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H2
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1.75em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H3
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.58em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H4
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.33em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H5
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
DT
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H6
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 0.8em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
TFOOT
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
THEAD
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
A:link
{
    COLOR: #0000ff;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #800000;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
SMALL
{
    FONT-SIZE: 0.7em
}
BIG
{
    FONT-SIZE: 1.17em
}
BLOCKQUOTE
{
    FONT-FAMILY: Courier New, monospace
}
PRE
{
    FONT-FAMILY: Courier New, monospace
}
UL LI
{
    LIST-STYLE-TYPE: square
}
UL LI LI
{
    LIST-STYLE-TYPE: disc
}
UL LI LI LI
{
    LIST-STYLE-TYPE: circle
}
OL LI
{
    LIST-STYLE-TYPE: decimal
}
OL OL LI
{
    LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI
{
    LIST-STYLE-TYPE: lower-roman
}
IMG
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px
}
INPUT.TextField
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    BORDER-LEFT: 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SPAN.PageFooter
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, helvetica
}
SPAN.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.TableBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.TextMatter
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
}
TD.smallTextMatter
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
}
TD.TextMatter1
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    }
TD.Numeric
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: right
}
TD.FormLabels
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica
	
}
TD.FormLabelsNew
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica
	
}
TD.FormLabelsRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #FF0000;
    FONT-FAMILY: Verdana,Arial, Helvetica
	
}
TD.FormLabelsApplication
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica
	
}

TD.FormLabelsApplicationStatic
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0000FF;
    FONT-FAMILY: Verdana,Arial, Helvetica
	
}

TD.FormLabelsApplicationNew
{
	FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial, Helvetica
}
TD.FormLabelsblue
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Georgia
}
TD.FormLabelsWhite
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana,Arial, Helvetica
}
TABLE.WithBorder
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.WhiteMsg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, helvetica
}
TD.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.username
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.sectionhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #2437A0;
    FONT-FAMILY: Verdana, Arial, Helvetica;
     BACKGROUND-COLOR: #f1f1f1
}

TD.new_sectionhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #2437A0;
    FONT-FAMILY: Verdana, Arial, Helvetica;
     BACKGROUND-COLOR: #B4D2FE
}

TD.ApplicationSectionhead
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: RGB(220,220,220);
}

TD.sectionheadblack
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #330000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.sectionheadblackbig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #330000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.smallsectionhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.sectionhead1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #2437A0;
    FONT-FAMILY: Verdana, Arial, Helvetica;
   
}
TD.mainhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Times New Roman;
    BACKGROUND-COLOR: #336699;
}

TD.display
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
TD.links
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.links1
{
    FONT-WEIGHT: 800;
    FONT-SIZE: 12px;
	FONT-COLOR: WHITE;
    COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.menulinks
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.HPSearch
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.bottomlinks
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #999999;
    FONT-FAMILY: Verdana,Arial, Helvetica
}
TD.PageFooter
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 10px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WineSearchResult
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.SearchResultNew
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WineSearchResultCode
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WineSearchResultItem
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.SpecialOfferHeader
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.Description
{
    FONT-WEIGHT: 800;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.WithBorderDisplay
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: 500;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #ff0000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.SearchResult
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000000;
    PADDING-TOP: 1px;
	PADDING-BOTTOM: 1px;
	LINE-HEIGHT: 18px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}

TD.altdisply
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}


TD.ErrorSearchResult
{
    BORDER-RIGHT: #FFCC00 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #FFCC00 2px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #FFCC00 1px solid;
    COLOR: #000000;
    PADDING-TOP: 1px;
	PADDING-BOTTOM: 1px;
	LINE-HEIGHT: 12px;
    BORDER-BOTTOM: #FFCC00 2px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.smallSearchResult
{
    BORDER-RIGHT: #f1f1f1 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #f1f1f1 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000000;
    PADDING-TOP: 1px;
	PADDING-BOTTOM: 1px;
	LINE-HEIGHT: 10px;
    BORDER-BOTTOM: #f1f1f1 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.TableHeading
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.sbttn
{
	cursor:hand;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 100px;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-DECORATION: none
}

.submitbutton
{
    cursor:hand;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 180px;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-DECORATION: none
}

.submitbuttonbig
{
    cursor:hand;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 220px;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-DECORATION: none
}


.uibutton {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: Arial, Verdana;
    text-decoration:none;
    background-color: #E4E4E4;
    background-image: url(../common/Images/FindBg.jpg);
    color: #333;
    cursor: hand;
    vertical-align: middle;
    border: 2px solid #797979;
    border-top-color:#FFF;
    border-left-color:#FFF;
    margin:2px;
    padding:2px;
}



input.buttonltblue,input.buttonblue2{cursor:hand;BACKGROUND-COLOR: #142089;color:#FFF;height:1.45em;font-size:9px;padding:0px;margin:0px;border:0px none #000;font-weight:bold}
.bigSbttn
{
	cursor:hand;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 170px;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-DECORATION: none
}
HR
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 1px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid
}
TD.PageTitle
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana
}
TD.InfoPageSH
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 14px;
    COLOR: #a72b52;
    FONT-FAMILY: Gill Sans , Arial
}
TD.MH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #999999;
    FONT-FAMILY: Century Gothic,Verdana, Gill Sans, Arial,Times New Roman
}
TD.SH
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Gill Sans, Arial
}
TD.Menus
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana
}
.CartListItem
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    VERTICAL-ALIGN: baseline;
    BORDER-LEFT: #f1f1f1 0px solid;
    COLOR: black;
    BORDER-BOTTOM: #f1f1f1;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.CartItem
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.CartListFooter
{
    LINE-HEIGHT: 1px;
    BACKGROUND-COLOR: #a72b52
}
.NewsListHead
{
    BORDER-TOP-WIDTH: medium;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 1px;
    VISIBILITY: hidden;
    BORDER-LEFT: #f1f1f1 solid;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #ffffff;
    BORDER-BOTTOM: #f1f1f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    BORDER-RIGHT-WIDTH: medium
}
.NewsListItem
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    VERTICAL-ALIGN: baseline;
    BORDER-LEFT: #f1f1f1 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #f1f1f1;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.NewsListFooter
{
    VISIBILITY: hidden;
    LINE-HEIGHT: 10pt;
    BACKGROUND-COLOR: #a72b52
}
.CartHead
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #a72b52
}
.LabelTextMatter
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.LabelNewsEvents
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 14px;
    COLOR: #a72b52;
    FONT-FAMILY: Gill Sans , Arial
}
.SearchResultCode
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 10px;
    COLOR: #000000;
    LINE-HEIGHT: 35px;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.SearchResultItem
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.DGPrNx
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.ErrorDisplay
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial
}
.MainText
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 12px;
    COLOR: #330099;
    FONT-FAMILY: Verdana, Arial
}
.txtbox
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.txtboxrightalign
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: right;
    PADDING-RIGHT:2px;
    TEXT-DECORATION: none
}
.ntxtbox
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.txtarea
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial
}
.OB
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial
}
.longbttn
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 150px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #cdcdcd
}
TD.WhiteText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial
}
TD.WhiteFooter
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial
}

.Footer
{
	background-image: url(../Images/BG2.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	color: #E5E5CC;
	padding: 5px 5px 5px 5px;
	font-size: 12px;
}

.Footer A, .Footer A:visited
{
	color: #E5E5CC;
	font-weight: bold;
	text-decoration: none;
}

.Footer A:hover
{
	color: White;
	font-weight: bold;
	text-decoration: none;
}

TD.NewSectionHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    background-image: url(../Images/bg1.gif);
}
TD.NewSectionHeadNew
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    background-image: url(../Images/bck12.jpg);
}
TD.NewSectionHead1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    background-image: url(../Images/ex2.jpg);
}
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    background-image: url(../Images/bg1.gif);
}


.sbttnBlue
{
	cursor:hand;
    BORDER-RIGHT: #104a7b 0px solid;
    BORDER-TOP: #afc4d5 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 0px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #104a7b 0px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
	background-image: url(../common/Images/FindBg.jpg);
    TEXT-DECORATION: none
}

TD.FormLabelsLightBlue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #6666FF;
    FONT-FAMILY: Verdana,Arial, Helvetica
}

TD.SectionHeading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    background-image: url(../Images/bg1.gif);
}

TD.mainmenulinks
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD.menulinkshome
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
	background-image:url(../Images/menugb1.jpg);
}

TD.menulinkshome a, TD.menulinkshome a:visited, TD.menulinkshome a:active 
{
    COLOR: #ffffff;
}
TD.menulinkshome a:hover 
{
    COLOR: #cccccc;
	text-decoration:none;
}

TD.sectionheadLink
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #2437A0;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #E4E8E9
}

.boxed
{border-width:1px; border-style:solid; border-color: #999999;}



TD.TextMatterAltranateGreen
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #330c99;
	BACKGROUND-COLOR: #EEFFEE;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}

TD.TextMatterAltranateBlue
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #330099;
	BACKGROUND-COLOR: #DEEAFE;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;

}

TD.TableColorStyle1
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 12px;
    COLOR: #330099;
	BACKGROUND-COLOR: #DEEAFE;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;	
}

TD.TableColorStyle2
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #330099;
	BACKGROUND-COLOR: #DEEAEE;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}

.txtboxWithBg
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #330099;
	BACKGROUND-COLOR: #DEEAEE;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana,Arial;
    HEIGHT: 18px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

TD.TableColorStyle3
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: red;
	BACKGROUND-COLOR: #DEEAEE;
    LINE-HEIGHT: 16px;
	HEIGHT: 25px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}


#dolphincontainer{position:relative;border-bottom: 2px solid navy; color:#E0E0E0;background:#EAEADB;
width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;cursor:hand;}

#dolphincontainer1{position:relative;border-bottom: 2px solid navy;color:#E0E0E0;background:#EAEADB;
width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;cursor:hand;}

#dolphinnav{position:relative;height:33px;font-size:12px;/*text-transform:uppercase;*/font-weight:bold;background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:0 0 0 20px;cursor:pointer;}
#dolphinnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#dolphinnav ul li{display:block;float:left;margin:0 1px;}
#dolphinnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#dolphinnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#dolphinnav ul li a:hover{color:#fff;background:transparent url(../Images/dolphin_bg-OVER.gif) repeat-x bottom left;}
#dolphinnav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#dolphinnav ul li a.current,#dolphinnav ul li a.current:hover{color:#fff;background:#1D6893 url(../Images/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}
#dolphinnav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(../Images/dolphin_right-ON.gif) no-repeat top right;height:33px;}


#priorpolicydolphinnav{position:relative;height:33px;font-size:12px;/*text-transform:uppercase;*/font-weight:bold;background:#fff url(../Images/dull.jpg) repeat-x bottom left;padding:0 0 0 20px;cursor:pointer;}
#priorpolicydolphinnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#priorpolicydolphinnav ul li{display:block;float:left;margin:0 1px;}
#priorpolicydolphinnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#priorpolicydolphinnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#priorpolicydolphinnav ul li a:hover{color:#fff;background:transparent url(../Images/dull.jpg) repeat-x bottom left;}
#priorpolicydolphinnav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#priorpolicydolphinnav ul li a.current,#dolphinnav ul li a.current:hover{color:#fff;background:#1D6893 url(../Images/dull.jpg) no-repeat top left;line-height:275%;}
#priorpolicydolphinnav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(../Images/dull.jpg) no-repeat top right;height:33px;}



#dolphin_inner{color: white; padding: 5px; font-size: 80%; height: 1em}

#dolphin_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active{color: white}
#dolphin_inner a:hover{color: yellow}

.innercontent{display: none;}
.innercontent1{display: none;}
.innercontent2{display: none;}
.innercontent3{display: block;}

#dolphinsubcontainer{position:relative;border-bottom: 2px solid navy;color:#E0E0E0;background:#A0BCB9;
width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;cursor:hand;}

#dolphinsubcontainer1{position:relative;border-bottom: 2px solid navy;color:#E0E0E0;background:#A0BCB9;
width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;cursor:hand;}

#dolphinsubnav{position:relative;height:33px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:0 0 0 20px;cursor:pointer;}
#dolphinsubnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#dolphinsubnav ul li{display:block;float:left;margin:0 1px;}
#dolphinsubnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#dolphinsubnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#dolphinsubnav ul li a:hover{color:#fff;background:transparent url(../Images/dolphin_bg-OVER.gif) repeat-x bottom left;}
#dolphinsubnav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#dolphinsubnav ul li a.current,#dolphinsubnav ul li a.current:hover{color:#fff;background:#1D6893 url(../Images/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}
#dolphinsubnav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(../Images/dolphin_right-ON.gif) no-repeat top right;height:33px;}


#oldPolicydolphinsubnav{position:relative;height:33px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#fff url(../Images/dull.jpg) repeat-x bottom left;padding:0 0 0 20px;cursor:pointer;}
#oldPolicydolphinsubnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#oldPolicydolphinsubnav ul li{display:block;float:left;margin:0 1px;}
#oldPolicydolphinsubnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#oldPolicydolphinsubnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#oldPolicydolphinsubnav ul li a:hover{color:#fff;background:transparent url(../Images/dull.jpg) repeat-x bottom left;}
#oldPolicydolphinsubnav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#oldPolicydolphinsubnav ul li a.current,#dolphinsubnav ul li a.current:hover{color:#fff;background:#1D6893 url(../Images/dull.jpg) no-repeat top left;line-height:275%;}
#oldPolicydolphinsubnav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(../Images/dull.jpg) no-repeat top right;height:33px;}




#dolphin_subinner{color: white; padding: 5px; font-size: 80%; height: 1em}

#dolphin_subinner a:link, #dolphin_subinner a:visited, #dolphin_subinner a:active{color: white}
#dolphin_subinner a:hover{color: yellow}

.innersubcontent{display: none;}
.innersubcontent1{display: none;}
.innersubcontent2{display: none;}
.innersubcontent3{display: none;}


.sbttn1
{
	cursor:hand;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 150px;
    COLOR: #000000;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-DECORATION: none
}

.sbttn2
{
	cursor:hand;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #afc4d5 1px solid;
    WIDTH: 135px;
    COLOR: #000000 !important;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: Arial, Verdana;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #e7efff;
    TEXT-DECORATION: none !important
}
input.buttonltblue,input.buttonblue2{cursor:hand;BACKGROUND-COLOR: #142089;color:#FFF;height:1.45em;font-size:9px;padding:0px;margin:0px;border:0px none #000;font-weight:bold}

#dolphinnav table tr td{position:relative;height:33px;font-size:10px;text-transform:uppercase;font-weight:normal;repeat-x bottom left;padding:0 0 0 20px;}
#dolphincontainer1{position:relative;color:#E0E0E0;background:#C6DEEA;font-family:Helvetica,Arial,Verdana,sans-serif;}
#dolphincontainerActive1{position:relative;color:#E0E0E0;background:#CCCCCC;font-family:Helvetica,Arial,Verdana,sans-serif;}

<!-- styles for risk header -->
#riskheadercontainer{position:relative;font-family:Helvetica,Arial,Verdana,sans-serif;}

#riskheadernav{position:relative;height:20px;font-size:12px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;}

#riskheadernav a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#riskheadernav table tr td a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#riskheader_inner{color: white; padding: 5px; font-size: 80%; height: 1em}
#riskheader_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active{color: white}
#riskheader_inner a:hover{color: yellow}


<!--styles for quote header -->

#quoteheadercontainer{position:relative;font-family:Helvetica,Arial,Verdana,sans-serif;}

#quoteheadernav{position:relative;height:20px;font-size:12px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;}

#quoteheadernav a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#quoteheadernav table tr td a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#quoteheader_inner{color: white; padding: 5px; font-size: 80%; height: 1em}
#quoteheader_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active{color: white}
#quoteheader_inner a:hover{color: yellow}


<!-- styles for plan header -->
#planheadercontainer{position:relative;font-family:Helvetica,Arial,Verdana,sans-serif;}

#planheadernav{position:relative;height:20px;font-size:12px;text-transform:uppercase;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 0 0 0px;}

#planheadernav a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 0 0 0px;CURSOR:hand;color:#ffffff;}

#planheadernav table tr td a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}


#planheader_inner{color: white; padding: 5px; font-size: 80%; height: 1em}
#planheader_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active{color: white}
#planheader_inner a:hover{color: yellow}

.Title {COLOR: #ffffff;font-size:13px;font-family:Verdana, Arial, Helvetica;text-transform:capitalize;}
.risktitle {color:white;font-size:12px;text-transform:capitalize;font-weight:bold;}

<!-- Style For Document Definition -->

 
<!-- styles for policy header -->

#policyheadercontainer{position:relative;font-family:Helvetica,Arial,Verdana,sans-serif;}

#policyheadernav{position:relative;height:20px;font-size:12px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;}

#policyheadernav a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#policyheadernav table tr td a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}



#priorpolicyheadernav{position:relative;height:20px;font-size:12px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dull.jpg) repeat-x bottom left;padding:2 2 0 0px;}

#priorpolicyheadernav a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#priorpolicyheadernav table tr td a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dull.jpg) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}






#policyheader_inner{color: white; padding: 5px; font-size: 80%; height: 1em}
#policyheader_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active{color: white}
#policyheader_inner a:hover{color: yellow}

<!-- styles for endorsement quote header -->

#endorseheadercontainer{position:relative;font-family:Helvetica,Arial,Verdana,sans-serif;}

#endorseheadernav{position:relative;height:20px;font-size:12px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;}

#endorseheadernav a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#endorseheadernav table tr td a{position:relative;height:20px;font-size:9px;text-transform:capitalize;font-weight:normal;
background:#fff url(../Images/dolphin_bg.gif) repeat-x bottom left;padding:2 2 0 0px;CURSOR:hand;color:#ffffff}

#endorseheader_inner{color: white; padding: 5px; font-size: 80%; height: 1em}
#endorseheader_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active{color: white}
#endorseheader_inner a:hover{color: yellow}




div.claimmenu {
  position:absolute; visibility:hidden;
  width:110px; left:0; top:0; z-index:500;
  font-size:12px;
  font-color:#FFFFFF;
  border-color: #f7faff #99a #99a #f7faff;
  background-color:#336699;
  border:0px double #FFFFFF;
}
div.claimmenu ul { margin:.5em 1em .6em 0; padding:0 }
div.claimmenu ul li { list-style-type:none; }

div.claimmenu a { 
	text-decoration:none; white-space:nowrap; 
	color:#FFFFF0;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
	font-weight:bold;
	text-align:left;	
}
div.claimmenu a:link { background-color:#336699; color:#FFFFFF; }
div.menu a:visited { background-color:#336699;color:#FFFFFF; }
div.claimmenu a:hover { background-color:#f1f1f1; color:#000000; }

.linkButton {
font-family:arial,helvetica,clean,sans-serif;font-size:13px;font-weight:400;font-style:normal;color:#000000;text-transform:none;
text-decoration:none;letter-spacing:normal;word-spacing:normal;line-height:normal;text-align:start;vertical-align:baseline;direction:ltr;
cursor:pointer;list-style-image:none;list-style-position:outside;list-style-type:none;marker-offset:none;
width:100px;height:22px;top:-1px;
}

.linkButtonBig {
font-family:arial,helvetica,clean,sans-serif;font-size:13px;font-weight:400;font-style:normal;color:#000000;text-transform:none;
text-decoration:none;letter-spacing:normal;word-spacing:normal;line-height:normal;text-align:start;vertical-align:baseline;direction:ltr;
cursor:pointer;list-style-image:none;list-style-position:outside;list-style-type:none;marker-offset:none;
width:200px;height:22px;top:-1px;
}

.linkButtonMid {
font-family:arial,helvetica,clean,sans-serif;font-size:13px;font-weight:400;font-style:normal;color:#000000;text-transform:none;
text-decoration:none;letter-spacing:normal;word-spacing:normal;line-height:normal;text-align:start;vertical-align:baseline;direction:ltr;
cursor:pointer;list-style-image:none;list-style-position:outside;list-style-type:none;marker-offset:none;
width:120px;height:22px;top:-1px;
}

.linkButtonHeavy {
font-family:arial,helvetica,clean,sans-serif;font-size:13px;font-weight:400;font-style:normal;color:#000000;text-transform:none;
text-decoration:none;letter-spacing:normal;word-spacing:normal;line-height:normal;text-align:start;vertical-align:baseline;direction:ltr;
cursor:pointer;list-style-image:none;list-style-position:outside;list-style-type:none;marker-offset:none;
width:250px;height:22px;top:-1px;
}
.redfont
{color: red ! important;}

.blackfont
{color: black ! important;}
